body {
    margin: 0;
    padding: 0;
    font-family: sans-serif
  }
   
  nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
    display: flex;
    justify-content:space-around;
    border-bottom: 3px inset #333;
  }
  
  nav li {
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 2.5%;
    padding-right: 2.5;
    text-decoration: none;
    
  }
  
  /* Nav bar psuedo states */
  nav li:hover 
  
  nav li:active


  /* Learned how to make nav above by demonstration in U-CFEdevelopment. */
  /* it is generic */