body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f4eebe;
  }
   
  nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
    display: flex;
    justify-content:space-around;
    border-bottom: 3px inset #333;
    background-color: rgb(138, 29, 227);
  }
  
  nav li {
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-decoration: none;
    border: white 1.5px solid;
    width: 19vw;
  }

  nav li a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
  }
  /* NAV LINKS CLICKABLE OUTSIDE OF NAV BAR */

  /* Nav bar psuedo states */
  nav li:hover {
    background-color: rgba(137, 33, 222, 0.735);
    font-size: 22px;
    font-weight: bold;
  }
  
  nav li a:hover {
    text-decoration: none;
    color: #efe;
  }
  nav li:active {
    background-color: rgba(111, 15, 189, 0.347);
    padding-top: 3px;
    font-size: 20px;
    color: #49b;
  }

  /* h1 tags centered in menu styles /*
  
  /* Learned how to make nav above by demonstration in U-CFEdevelopment. */
  /* it is generic */

  /* main styling */
  /* background-color: #f4eebe */

  /* Menu styles */



  .menu {
    border: solid 2px black;
    border-style: ridge;
    margin-top: 120px;
    width: auto;
    margin-left: 7%;
    margin-right: 7%;
    padding: 1.2% 0;
  }

  div.menu-section {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .menu-section h3 {
    display: block; 
    width: full;
    line-height: 3rem;
    height: 3em;
  }

  .menu-section p {
    text-align: left;
  }
 
  #menu-h1 {
    margin-top:1em;
  }

  /* center heading + p elements */
  div.menu h2, div.menu-section h3, .menu-intro, h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Menu background images  */

  .menu-image {
    background-color: rgba(22, 22, 22, 38%);
    background-blend-mode:hard-light;
  }

  
  #soft-drinks {
    background-image: url(https://c1.peakpx.com/wallpaper/718/91/745/drink-delicious-cola-coke-lemonade-wallpaper-preview.jpg);
    }

    .menu-image {
    background-color: rgba(22, 22, 22, 38%);
    background-size:cover;
    background-blend-mode:hard-light;
    }

  /* Menu media quueries */

  @media screen (max-height: 767px) {
    div.menu-section {
      max-width: 98%;
    }

    .menu {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  /* menu section background images */

  #red-wine {
    /* background-image:linear-gradient(rgba(25, 25, 26, 0.769), rgba(25, 25, 26, 0.769); */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Pouring_red_wine_into_a_glass.jpg/600px-Pouring_red_wine_into_a_glass.jpg?20110910152715);
    background-color: rgba(22, 22, 22, 38%);
    
    /* background-blend-mode: color-burn; */
    background-blend-mode:hard-light;
    /* background-blend-mode: multiply; */
    /* background-position: center; */
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* background-color: rgba(25, 25, 26, 0.769); */
  }

  /* CATS styles */

  .cats-body {
    background-image: url("/images/modernrestaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .cats-intro {
    /* background-image: linear-gradient(to bottom, rgba(166, 9, 106, 0.4), rgba(85, 24, 147, 0.4), transparent);
    font-size: 16px; */
    color: maroon;
    background-color: #efe;
    border: 1.5px groove black;
    min-width: 500px; /* FIX change for small screen sizes */
    width: 58%;
    height: auto;
    margin-left: 21%;
    padding:15px;
  }

  .polaroid {
    
    height: 582px;
    width: 432px;
    margin: 150px auto;
    background-color: #f4e7ce;
    background-color: ivory;
    border: 1.5px solid black;
    border-style: ridge;
  }

  /*This id closes the gap between the first cat profile and the header area*/
  /*FIX EDIT ADD: [same exception to the media query rule...] (for first and second polaroid) [...for large screen sizes] if inline-block */
  #top-cat-section {
    margin-top: 35px;
  } 

  img.cat-portrait {
    width: 300px;
    height: 300px;
    margin: 20px 66px 0;
    border: 4px rgb(197, 233, 247) groove;
  }

  .polaroid p {
    width: 300px;
    margin: 0 auto;
    font-family: 'Allan', cursive;
  }

  h2.name {
    color:cyan;
    font-size: 1.7em;
    text-align:center;
    margin: 8px auto;
    font-family:Arial, Helvetica, sans-serif;
  }

  /* cat section media */

  /* x-small and mobile */
  @media screen (max-width: 575px) {

    .polaroid {
      min-width: 300px;
      height: 632px;
      padding: 5px;
      margin: 180px 24px;
    }
    
    img.cat-profile {
      width: 300px;
      height: 300px;
    } 

  }

  /* small and tablet screens */
  @media screen (min-width: 568px) and (max-width: 767px) {
    
    
  }