body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f4eebe;
  }
   
  nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
    display: flex;
    justify-content:space-around;
    border-bottom: 3px inset #333;
    background-color: rgb(138, 29, 227);
  }
  
  nav li {
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-decoration: none;
    border: white 1.5px solid;
    width: 19vw;
  }

  nav li a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
  }
  /* NAV LINKS CLICKABLE OUTSIDE OF NAV BAR */

  /* Nav bar psuedo states */
  nav li:hover {
    background-color: rgba(137, 33, 222, 0.735);
    font-size: 22px;
    font-weight: bold;
  }
  
  nav li a:hover {
    text-decoration: none;
    color: #efe;
  }
  nav li:active {
    background-color: rgba(111, 15, 189, 0.347);
    padding-top: 3px;
    font-size: 20px;
    color: #49b;
  }

  /* main styling */

  /* main {
    background-color: #f4eebe;
  } /*

  /* Learned how to make nav above by demonstration in U-CFEdevelopment. */
  /* it is generic */

  /* CATS styles */

  .polaroid {
    
    height: 960px;
    width: 80vh;
    margin: 0 auto;
    background-color: #f4e7ce;
  }

  img.cat-portrait {
    width: 560px;
    height: 560px;
    margin: 16% auto 0;
  }

  .polaroid p {
    width: 300px;
    margin: 20% auto 17%;
  }

  h2.name {
    color:cyan;
    font-size: 1.7em;
    text-align:center;
    margin: 8px auto;
    font-family:Arial, Helvetica, sans-serif;
  }

  /* cat section media */

  /* x-small and mobile */
  @media screen (max-width: 575px) {

    .polaroid {
      min-width: 300px;
      height: 632px;
      padding: 5px;
      margin: 180px 24px;
    }
    
    img.cat-profile {
      width: 300px;
      height: 300px;
    } 

  }

  /* small and tablet screens */
  @media screen (min-width: 568px) and (max-width: 767px) {
    
    
  }
